.experiencia{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{
    color: #8e7f7f;
}

.experiencia-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    color: #705454;
}
.Projeto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #d9d9d9;
    margin-bottom: 20px;
    border: 5px;
    position: relative;
}

.Projeto::before {
  content: '';
  display: block;
  width: 5px;
  height: 20px;
  background: #000000;
  position: absolute;
  top: 20px;
  left: -4px;
}

.Projeto-ano{
    position: absolute;
    top: 22px;
    left: -100px;
    text-align: right;
    width: 80px;
    color: #8f8f8f;
    font-size: .875rem;
}

.Projeto-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.Projeto-texto{
    font-size: .875rem;
    line-height: 1.4;
    color: #433636;
}

.Projeto-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.Projeto-habilidades li{
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 5px;
    background: #f0f0f0;
    padding: 5px 10px;
}

@media (max-width:800px){
    .experiencia{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .experiencia.subtitulo{
        color: #8E7F7F;
    }
    .experiencia-texto{
        font-size: 1.25rem;
     }
     .Projeto-ano{
        position: initial;
        order: 1;
        width: 40px;
        text-align: left;
     }
    }
    @media( max-width:400px){
        .Projeto{
            grid-template-columns: 1fr;
        }
    }