.intro{
        max-width: 1200px;
        padding: 40px 20px;
        margin: 0 auto;
        display:  grid;
        grid-template-columns: 4fr 8fr;
        gap: 100px;
        align-items: center;
}

    .intro h1{
        font-size:  2.5rem;
        line-height: 1.125;
        margin-bottom: 30px;
      

    }

    .intro h1::before{
        content: "";
        display: block;
        width: 200px;
        height: 150px;
        background: url("../img/detalhe.svg") no-repeat center;
        top: -150px;
        left: -200px;
        z-index: -1;  
    }
    .intro p{
        font-size: 1.5rem;
        color: #525252;
    }

    @media (max-width: 1000px){
        .intro h1{
            font-size: 3rem;
        }
    }

     @media (max-width: 800px){
        .intro h1{
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }
    }

    .intro h1{
        font-size: 2rem;
    }

    .intro h1 ::before{
        width: 30px;
        height: 10px;
        left: 0px;
    }
    
    
    